body {
    height: calc(100vh+ 10vh);
  }
#main {
    margin: 0 auto;
    margin-top: 10px;
    background: linear-gradient(45deg, #1CB5E0 0%, #000851 100%);
    color: white;
    width: 100%;
    max-width: calc(100vh - 10vh);
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: space-between;
}

.current-day {
    width: 100%;
    height: 40%;
    background-color: darkgray;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;
}

.current-day h2, .weather-icon, .temperature-value .weather-description{
width: 100%;
}

h1, h2 {
    font-family: 'Roboto Slab', serif;
}

p, button, input{
    font-family: 'Roboto', sans-serif;
}

.five-day {
    width: 100%;
    height: 60%;
    margin-top: 5%;
    background-color: gray;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.day {
    display: flex;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #000851;
    transition: background-color .3s ease-in-out;
}

.day:hover {
    background-color: rgba(225,225,225, .15);
}

.day-title {
    max-width: 2vw;
    width: 100%;
}

.current-day {
    text-align: center;
}

.temperature-value {
    font-size: 6vh;
}
.form{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.temp-max {
    color: white;
}

.temp-min {
    color: rgb(200,200,200);
}

.five-day, .current-day {
    background-color: rgba(0,0,0,0);
}


/* Form Elements */
.search {
    width: 100%;
}
input {
    width: 90%;
    padding: 2%;
    margin: 2%;
    border: 1px solid #ccc;
    justify-content: center;
}

input:focus {
    box-shadow: 0 0 5px #7ED5EA;
    padding: 2%;
    border: 1px solid #7ED5EA;
}

#search-button {
    border-style: none;
    border-bottom: 5px solid #3778C2;
    width: 57%;
    padding: 3%;
    background: #63BCE5;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
}

#search-button:hover {
    background: #7ED5EA;
}

#search-button:active {
    background: #3778C2;
}

#clear-button{
    width:16%;
    padding: 3%;
    margin-left: 1%;
    border-style: none;
    border-bottom: 5px solid #E56A1D;
    background: #FF8433;
    color: black;
    cursor: pointer;
    border-radius: 8px;
}

#clear-button:hover {
    background-color: #FFA538;
}

#clear-button:active {
    background-color: #E56A1D;
}

#convert-slider{
    position: relative;
    background-color: #444;
    border-styling: none;
    border-bottom: 2px solid #ccc;
    border-top: 3px solid #000;
    border-radius: 8px;
    width: 14%;
    padding: 3%;
    margin-left: 1%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

#convert-slider p {
    z-index: 1;
    user-select: none;
   

}
#slider {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: #63BCE5;
    z-index: 0;
    border-radius: 8px;
    transition: .2s ease-in;
}
